{% extends "base.html" %}

{% block title %}Обо мне – Твоё имя{% endblock %}

{% block content %}
<h1 class="section-title">Обо мне</h1>
<div class="grid">
    <div class="card">
        <h3>Кто я</h3>
        <p>Я студент, который увлекается программированием и веб‑разработкой.
Учусь создавать аккуратные и понятные интерфейсы, совмещая HTML и CSS с логикой на Python.
Нравится разбираться в устройстве сайтов, экспериментировать с небольшими проектами и постепенно прокачивать свои навыки в разработке .</p>
    </div>
    <div class="card">
        <h3>Навыки</h3>
        <p>HTML и CSS: верстка многостраничных сайтов‑визиток, работа с сетками, шапкой, адаптивной вёрсткой.
Python: написание небольших приложений и учебных проектов, работа с файлами и базовой логикой.</p>
    </div>
    <div class="card">
        <h3>Цели</h3>
        <p>Хочу развиваться в веб‑разработке: научиться уверенно делать адаптивные сайты и связывать frontend с backend.​
Планирую прокачать Python и использовать его для реальных проектов и небольших сервисов.​
Также хочу изучить новый язык программирования.
В долгосрочной перспективе хочу собрать хорошее портфолио и начать работать разработчиком или стажёром в IT‑компании.</p>
    </div>
</div>
{% endblock %}
